* {
  scroll-behavior: smooth;
}

header .navbar {
  position: fixed;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.842);
  width: 100%;
}

header .navbar .navbar-brand .header_logo img {
  display: inline-block;
  width: 30%;
}

header .navbar .navbar-brand .header_logo span {
  margin-left: 15px;
  color: #7a9b57;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
}

header .navbar .navbar-toggler {
  outline: none;
}

header .navbar .collapse #mainNav li {
  margin: 0 15px;
  padding: 5px;
}

header .navbar .collapse #mainNav li .nav-link {
  text-decoration: none;
  list-style: none;
  line-height: 30px;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar .collapse #mainNav li .nav-link:hover, header .navbar .collapse #mainNav li .nav-link:focus {
  color: #7a9b57;
  background-color: transparent;
  text-decoration: none;
}

header .navbar .collapse #mainNav > li.active .nav-link {
  color: #7a9b57;
  background-color: transparent;
  text-decoration: none;
}

header .navbar .collapse #mainNav > li.active ::after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  header .header_content .navbar .navbar-brand .header_logo img {
    width: 20%;
    display: inline-block;
  }
  header .header_content .navbar .navbar-brand .header_logo span {
    font-size: 20px;
  }
  header .header_content .navbar .collapse #mainNav {
    text-align: center;
  }
  header .header_content .navbar .collapse #mainNav li {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .header_content .navbar .collapse #mainNav li:hover .nav-link {
    background-color: #455e14;
    color: white;
    text-decoration: none;
  }
  header .header_content .navbar .collapse #mainNav > li.active .nav-link {
    background-color: #455e14;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  header .header_content .navbar .navbar-brand .header_logo img {
    width: 30%;
    display: inline-block;
  }
  header .header_content .navbar .navbar-brand .header_logo span {
    font-size: 20px;
  }
  header .header_content .navbar .collapse #mainNav li {
    padding: 5px;
    margin: 3px;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
  }
  header .header_content .navbar .collapse #mainNav li .nav-link {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  header .header_content .navbar .navbar-brand .header_logo img {
    width: 40%;
    display: inline-block;
  }
  header .header_content .navbar .navbar-brand .header_logo span {
    font-size: 35px;
  }
  header .header_content .navbar .collapse #mainNav li {
    padding: 10px;
    white-space: nowrap;
    text-align: center;
  }
  header .header_content .navbar .collapse #mainNav li .nav-link {
    font-size: 25px;
  }
}

footer .footer_content {
  text-align: center;
  width: 80%;
  margin: auto;
  position: relative;
}

footer .footer_content p {
  padding: 30px;
  margin-bottom: 0;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.backToTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  visibility: hidden;
}

.backToTop i {
  color: #7a9b57;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  line-height: 36px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* // reduce button opacity if user keeps scrolling */
.cd-top--fade-out {
  opacity: 0.5;
}

body {
  font-family: "Baloo Bhaijaan 2", cursive;
}

.carousel {
  background-color: #b2c8a2;
}

.carousel .carousel_content {
  padding-top: 120px;
  width: 80%;
  margin: auto;
}

.carousel .carousel_content .carousel_left .carousel_text p {
  display: inline-block;
  border: 2px solid #7a9b57;
  background-color: white;
  padding: 5px 20px;
  text-align: center;
  border-radius: 30px 30px 30px 0;
  color: #7a9b57;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 25px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.carousel .carousel_content .carousel_left .carousel_text h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.carousel .carousel_content .carousel_left .carousel_text .typing-out {
  min-height: 30px;
  font-weight: 600;
  color: #455e14;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.carousel .carousel_content .carousel_left .carousel_contact ul {
  padding: 0;
}

.carousel .carousel_content .carousel_left .carousel_contact ul li {
  list-style: none;
  margin: 10px 0;
}

.carousel .carousel_content .carousel_left .carousel_contact ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.5px;
}

.carousel .carousel_content .carousel_left .carousel_contact ul li a span {
  background-color: transparent;
  border-radius: 30px;
  padding: 3px 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carousel .carousel_content .carousel_left .carousel_contact ul li a span:hover, .carousel .carousel_content .carousel_left .carousel_contact ul li a span:focus {
  color: white;
  background-color: #ffbd59;
  text-decoration: none;
}

.carousel .carousel_content .carousel_left .carousel_contact ul li a i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 35px;
  color: white;
  margin-right: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carousel .carousel_content .carousel_left .carousel_contact ul li a i:hover, .carousel .carousel_content .carousel_left .carousel_contact ul li a i:focus {
  color: white;
  background-color: #ffbd59;
  text-decoration: none;
}

.carousel .carousel_content .carousel_left .carousel_contact .carousel_social {
  margin: 0;
  padding: 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.carousel .carousel_content .carousel_left .carousel_contact .carousel_social span i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin: 15px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carousel .carousel_content .carousel_left .carousel_contact .carousel_social span i:hover, .carousel .carousel_content .carousel_left .carousel_contact .carousel_social span i:focus {
  color: white;
  background-color: #ffbd59;
  text-decoration: none;
}

.carousel .carousel_content .carousel_left .carousel_CV {
  margin-top: 10px;
  margin-left: 15px;
}

.carousel .carousel_content .carousel_left .carousel_CV button {
  border: dashed;
}

.carousel .carousel_content .carousel_right img {
  margin: 25px;
  max-width: 70%;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .carousel .carousel_content .carousel_left .typing-out p {
    font-size: 25px;
  }
  .carousel .carousel_content .carousel_left .typing-out h1 {
    font-size: 40px;
  }
  .carousel .carousel_content .carousel_left .typing-out h2 {
    font-size: 30px;
  }
  .carousel .carousel_content .carousel_left .carousel_contact ul li a {
    font-size: 20px;
  }
  .carousel .carousel_content .carousel_left .carousel_contact .carousel_social span i {
    font-size: 20px;
  }
  .carousel .carousel_content .carousel_right img {
    max-width: 90%;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .carousel .carousel_content .carousel_left {
    margin-left: 100px;
  }
  .carousel .carousel_content .carousel_right img {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .carousel .carousel_content .carousel_left .carousel_text p {
    font-size: 20px;
  }
  .carousel .carousel_content .carousel_left .carousel_text h1 {
    font-size: 35px;
  }
  .carousel .carousel_content .carousel_left .carousel_text .typing-out {
    font-size: 15px;
  }
  .carousel .carousel_content .carousel_right img {
    margin: auto;
    padding-top: 20px;
    max-width: 95%;
  }
}

.about {
  background-image: url(../../img/wave-haikei.svg);
  background-size: cover;
  padding: 100px 0;
}

.about .about_content {
  width: 80%;
  margin: auto;
}

.about .about_content h1 {
  color: #000;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}

.about .about_content .about_items .about_detail {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about_content .about_items .about_detail .about_img {
  text-align: center;
}

.about .about_content .about_items .about_detail .about_img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.about .about_content .about_items .about_detail .about_status p {
  width: 95%;
  margin: auto;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.about .about_content .about_items .about_detail .about_status .about_status-detail {
  margin: 25px 0;
}

.about .about_content .about_items .about_detail .about_status .about_status-detail i {
  color: #7a9b57;
}

.about .about_content .about_items .about_detail .about_status .about_status-detail span {
  color: #7a9b57;
  font-weight: 600;
}

.skills {
  padding: 100px 0;
}

.skills .skills_content {
  width: 80%;
  margin: auto;
}

.skills .skills_content h1 {
  text-align: center;
  color: #000;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.skills .skills_content .skills_items p {
  text-align: right;
  margin-top: 15px;
}

.skills .skills_content .skills_items img {
  margin-top: 15px;
  display: inline-block;
  max-width: 70px;
  height: auto;
}

.portfolio {
  padding: 100px 0;
  background-image: url(../../img/low-poly-grid-haikei.svg);
  background-size: cover;
}

.portfolio h1 {
  text-align: center;
  color: #000;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.portfolio .portfolio_content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.portfolio .portfolio_content .portfolio_item {
  margin-bottom: 25px;
}

.portfolio .portfolio_content .portfolio_item .portfolio_details {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio_content .portfolio_item .portfolio_details:hover .wrap {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.portfolio .portfolio_content .portfolio_item .portfolio_details img {
  display: block;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: auto;
}

@media screen and (max-width: 576px) {
  .portfolio .portfolio_content .row .portfolio_a {
    left: 107px;
  }
}

.sideBarMini {
  width: 400px;
  position: fixed;
  top: 20%;
  right: 0;
  background-color: #ffbd59;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-left: 2px solid #ffbd59;
  border-radius: 0 0 0 15px;
}

.sideBarMini .sideBarMini__button {
  color: #000;
  background-color: #ffbd59;
  letter-spacing: 1px;
  border: 1px solid #ffbd59;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 15px;
  line-height: 10px;
  border-radius: 8px 0 0 8px;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sideBarMini .sideBarMini__button:focus {
  outline: none;
}

.sideBarMini .sideBarMini__content {
  width: 150px;
  padding: 20px;
  text-align: center;
}

.sideBarMini .sideBarMini__content h2 {
  font-size: 20px;
}

.sideBarMini .sideBarMini__content .swith {
  width: 50px;
  height: 25px;
  margin: 0 10px;
  position: relative;
}

.sideBarMini .sideBarMini__content .swith input {
  display: none;
}

.sideBarMini .sideBarMini__content .swith input:checked + .slider::before {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.sideBarMini .sideBarMini__content .swith .slider {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  cursor: pointer;
}

.sideBarMini .sideBarMini__content .swith .slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sideBarMini.is-opened {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.button--green {
  outline: none;
  color: #455e14;
  background-color: transparent;
  letter-spacing: 2px;
  border: 1px solid none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 8px;
  cursor: pointer;
  border-radius: none;
}

.button--green:hover {
  color: #455e14;
  background-color: transparent;
  border: 1px solid none;
}

.button--green:focus {
  outline: none;
}

.button--CV {
  color: white;
  background-color: transparent;
  letter-spacing: 2.5px;
  border: 1px solid white;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 60px;
}

.button--CV:hover {
  color: white;
  background-color: #ffbd59;
  border: 1px solid white;
}

.button--CV:focus {
  outline: none;
}

.wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.842);
  display: block;
  width: 100%;
  height: 100%;
  padding: 60px 50px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.wrap h2 {
  text-align: start;
  color: #000;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}

.wrap button {
  text-align: start;
  position: absolute;
  bottom: 60px;
  left: 0px;
  padding: 5px;
  width: 100%;
  height: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}

.line ::after {
  content: "";
  width: 0;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#bdd299), to(#455e14));
  background: linear-gradient(to right, #bdd299, #455e14);
  display: block;
  -webkit-box-shadow: 0 0 20px 0 #455e14;
          box-shadow: 0 0 20px 0 #455e14;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.line :hover::after {
  width: 100%;
}

.darkMode {
  background-color: #000000;
}

.darkMode header .navbar {
  background-color: #0000006b;
}

.darkMode header .navbar .navbar-brand .header_logo span {
  color: #ffbd59;
}

.darkMode header .navbar .collapse #mainNav li:hover .nav-link {
  color: #ffbd59;
}

.darkMode header .navbar .collapse #mainNav li .nav-link {
  color: white;
}

.darkMode header .navbar .collapse #mainNav > li.active .nav-link {
  color: #ffbd59;
}

.darkMode .carousel {
  background-color: #6b8375;
}

.darkMode .carousel .carousel_content .carousel_left .carousel_text h1 {
  color: white;
}

.darkMode .carousel .carousel_content .carousel_left .carousel_text h2 {
  color: #ffbd59;
}

.darkMode .carousel .carousel_content .carousel_left .carousel_contact ul li a {
  color: white;
}

.darkMode .carousel .carousel_content .carousel_left .carousel_contact ul li a span,
.darkMode .carousel .carousel_content .carousel_left .carousel_contact ul li a i {
  color: white;
}

.darkMode .carousel .carousel_content .carousel_left .carousel_contact ul li a span:hover,
.darkMode .carousel .carousel_content .carousel_left .carousel_contact ul li a i:hover {
  background-color: #0000006b;
}

.darkMode .carousel .carousel_content .carousel_left .carousel_contact .carousel_social span i {
  color: white;
}

.darkMode .carousel .carousel_content .carousel_left .carousel_contact .carousel_social span i:hover {
  background-color: #0000006b;
}

.darkMode .about {
  background-image: url(../../img/wave-haikei-dark.svg);
  background-size: cover;
  color: white;
}

.darkMode .about .about_content h1 {
  color: white;
}

.darkMode .about .about_content .about_items .about_status p {
  color: white;
}

.darkMode .skills {
  background-color: #191A19;
}

.darkMode .skills .skills_content h1 {
  color: white;
}

.darkMode .skills .skills_content p {
  color: white;
}

.darkMode .portfolio {
  background-image: url(../../img/low-poly-grid-haikei-dark.svg);
  background-size: cover;
}

.darkMode .portfolio h1 {
  color: white;
}

.darkMode .portfolio .modal .modal-dialog .modal-header {
  background-color: #0000006b;
}

.darkMode .portfolio .modal .modal-dialog .modal-header .modal-title {
  color: white;
}

.darkMode .portfolio .modal .modal-dialog .modal-header .close {
  color: white;
}

.darkMode .button--green:hover {
  color: white;
  background-color: #7a9b57;
  border: 1px solid #6b8375;
}

.darkMode .button--green:focus {
  outline: none;
}

.darkMode footer {
  background-color: #6b8375;
}

.darkMode footer .footer_content p {
  color: white;
}

.darkMode .backToTop i {
  color: #ffbd59;
}

.darkMode .sideBarMini {
  background-color: #98b28f;
  border-left: 2px solid #98b28f;
}

.darkMode .sideBarMini .sideBarMini__button {
  color: #ffbd59;
  background-color: #98b28f;
  border: #98b28f;
}

.darkMode .sideBarMini .sideBarMini__content {
  color: white;
}

.darkMode .sideBarMini .sideBarMini__content .slider {
  background-color: #ffbd59;
  color: white;
}

.darkMode .line ::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(#ffbd59));
  background: linear-gradient(to right, white, #ffbd59);
  -webkit-box-shadow: 0 0 20px 0 #ffbd59;
          box-shadow: 0 0 20px 0 #ffbd59;
}
/*# sourceMappingURL=main.css.map */