.darkMode {
    background-color: $color-dark-0;
    header {
        .navbar {
            background-color:$color-dark-1;
            .navbar-brand{
                .header_logo{
                    span{
                        color: $color-yellow-0;
                    }
                }
            }
            .collapse {
                #mainNav {
                    li {
                        &:hover {
                            .nav-link {
                                color: $color-yellow-0;
                            }
                        }
                        .nav-link {
                            color: $color-white-0;
                        }
                    }
                    > li.active {
                        .nav-link {
                            color: $color-yellow-0;
                        }
                    }
                }
            }
        }
    }
}
