.darkMode {
    .skills {
        background-color: #191A19;
        .skills_content {
            h1 {
                color: $color-white-0;
            }
            p{
                color: $color-white-0;
            }
        }
    }
}
